* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-navy: #000264;
  --color-accent: #3B7BF1;
  --color-light: #EAEAE4;
  --color-white: #F0F0E9;
  --color-text: #000264;
  --color-contrast: #C9D2D7;
}

body {
  font-family: var(--font-schibsted), sans-serif;
  background-color: var(--color-light);
}